.bg-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: #E56353;
    color: #fff;
    &__title {
        font-size: 4em;
    }
}