.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
    &__img {
        width: 70%;
    }
    &__title, &__info {
        width: 40%;
    }
    &__title {
        text-align: center;
    }
    &__info {
        margin-bottom: 10px;
    }
}

.card-t2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3em 0;
    &__img {
        width: 35%;
    }
    &__title, &__info {
        width: 65%;
    }
    &__title {
        text-align: center;
    }
    &__info {
        margin-bottom: 10px;
    }
}
